<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="SignIn">
        <label for="">username</label>
        <input type="text" name="username">
        <label for="">pasw</label>
        <input type="text" name="password">
        <label for="">name</label>
        <input type="text" name="name">
        <label for="">middlename</label>
        <input type="text" name="middlename">
        <label for="">pat_surname</label>
        <input type="text" name="pat_surname">
        <label for="">mat_surname</label>
        <input type="text" name="mat_surname">
        <label for="">email</label>
        <input type="text" name="email">
        <label for="">is_active</label>
        <input type="text" name="is_active">
        <label for="">created_by</label>
        <input type="text" name="created_by">
        <label for="">nivel accesso</label>
        <input type="number" name="fk_accessLevel_id">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>