@{ Layout="../_MainLayout"; }

@section HeadScripts {
    <link rel="stylesheet" href="~/css/users.css">
}

<div id="main-container">
    @Html.AntiForgeryToken()
    <div id="action-btns">
        <div>
            <a href="">
                Regresar
            </a>
        </div>
        <div>
            <a href="">
                Nuevo Usuario
            </a>
        </div>
    </div>
    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Nombre Completo</th>
                    <th>Nivel de Acceso</th>
                    <th>Estatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Contenido generado dinámicamente con jQuery/DataTables -->
            </tbody>
        </table>
    </div>
</div>

@section BodyScripts {
    <script src="~/js/users.js"></script>
}