@{ Layout="../_MainLayout"; }

@section HeadScripts {
    <link rel="stylesheet" href="~/css/users.css">
}

<div id="main-container">
    // Aqui me quedé: Hacer la vista de usuarios con DataTables (o una alternativa mas nueva) y los botones para editar, ver, borras y agregar nuevo.
</div>

@section BodyScripts {
    <script src="~/js/users.js"></script>
}